input:valid{
  border: 1px solid black;
}

input:invalid:required{
  border: 2px solid red;
}

.create-accnt-header{
  display: flex;
  flex-direction: column;
}
.create-new-user{
  margin-bottom: -0em
}