
.create-item{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  align-content: center;
  width: 500px;
  background-color: rgb(243, 243, 243);
  border-radius: 2em;
  border: 0.2em solid slategray;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 4em;
}

.item-input{
  display: flex;
  flex-direction: column;
}

.create-buttons{
  display:flex;
  justify-content: space-around;
}
.create-input{
  display:flex;
  justify-self: right;
  align-self:flex-end;
  flex: 2;
  margin-left: 0.4em
}

.single-item-edit{
  display: flex;
  width: 20em;
  justify-content: space-between;
}